*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#F5EFE6;
}
@keyframes float {
  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-10px);
  }

  100%{
    transform:translateY(0px);
  }
}
.card-hover{
transition:all .35s ease;
cursor:pointer;
}

.card-hover:hover{
transform:translateY(-8px);
box-shadow:0 18px 35px rgba(0,0,0,.08);
}